<a href="https://colab.research.google.com/github/Richish/spark_on_gpus/blob/main/01_basic_spark_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# imports
#! pip install pyspark
import pyspark
import pandas as pd

In [5]:
# connecting to drive
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [18]:
# finding data
! ls /content/drive/MyDrive/colab_notebooks/datasets/taxi-small/trainWithEval

test.csv

In [21]:
train_file = "/content/drive/MyDrive/colab_notebooks/datasets/taxi-small/train/taxi-small.csv"
eval_file = "/content/drive/MyDrive/colab_notebooks/datasets/taxi-small/eval/taxi-small.csv"
test_file = "/content/drive/MyDrive/colab_notebooks/datasets/taxi-small/trainWithEval/test.csv"

In [22]:
# creating pandas dfs
train_df, eval_df, test_df = pd.read_csv(train_file), pd.read_csv(eval_file), pd.read_csv(test_file)
train_df, eval_df, test_df

(      452563162  1   1.74  -73.99114500000002  ...  13  6.0  1.0  2.6339725754785412
 0     452563162  5   2.72          -73.948132  ...  13  6.0  1.0            4.025153
 1     452563162  1   0.94          -73.982477  ...  13  6.0  1.0            1.153509
 2     452563162  1   3.63          -73.977707  ...  13  6.0  1.0            5.170668
 3     452563162  2  11.86          -73.864075  ...  13  6.0  1.0           12.644747
 4     452563162  5   3.03          -73.970228  ...  13  6.0  1.0            3.869515
 ...         ... ..    ...                 ...  ...  ..  ...  ...                 ...
 7994  452563162  1   2.10          -73.977258  ...  13  6.0  1.0            3.053085
 7995  452563162  1   3.33          -73.991152  ...  13  6.0  1.0            5.412012
 7996  452563162  1   4.28          -74.002435  ...  13  6.0  1.0            4.941396
 7997  452563162  1   1.04          -73.983282  ...  13  6.0  1.0            1.488445
 7998  452563162  1   0.63          -73.983223  ...  13  6.0  1.0            0.728790

 [7999 rows x 17 columns],
       1559730423  1    1.1  -74.004711  ...   5  5.0  1.0  1.377170009983808
 0     1559730423  2   0.70  -73.974600  ...   7  0.0  0.0           0.855496
 1     1559730423  3  10.70  -73.989937  ...   7  0.0  0.0          10.607084
 2     1559730423  1   2.30  -73.988510  ...   7  0.0  0.0           2.199657
 3     1559730423  1   4.40  -74.010394  ...  10  3.0  0.0           5.599242
 4     1559730423  1   1.50  -73.992113  ...   7  0.0  0.0           1.715646
 ...          ... ..    ...         ...  ...  ..  ...  ...                ...
 1994   452563162  2   7.94  -73.975508  ...  13  6.0  1.0          11.294933
 1995   452563162  1   2.54  -73.948240  ...  13  6.0  1.0           2.801927
 1996   452563162  3   3.56  -73.979407  ...  13  6.0  1.0           3.955287
 1997   452563162  4  16.50  -73.792330  ...  13  6.0  1.0          19.351196
 1998   452563162  3   0.00  -73.971717  ...  13  6.0  1.0           0.000000

 [1999 rows x 17 columns],
       1559730423  4   1.0  -73.978165  ...   1  1.0.1  0.0  1.2399794628845693
 0     1559730423  1  1.50  -74.006680  ...   6    6.0  1.0            2.335097
 1     1559730423  1  2.10  -73.976252  ...   7    0.0  0.0            2.217939
 2     1559730423  1  1.70  -73.966743  ...   7    0.0  0.0            2.670627
 3     1559730423  1  0.80  -73.995801  ...   8    1.0  0.0            0.978902
 4     1559730423  1  0.80  -73.980071  ...   7    0.0  0.0            0.894911
 ...          ... ..   ...         ...  ...  ..    ...  ...                 ...
 1994   452563162  5  2.53  -73.992540  ...  13    6.0  1.0            2.974497
 1995   452563162  1  4.95  -73.962243  ...  13    6.0  1.0            6.002747
 1996   452563162  1  3.45  -74.000080  ...  13    6.0  1.0            3.748066
 1997   452563162  1  1.71  -73.948492  ...  13    6.0  1.0            1.999909
 1998   452563162  2  1.02  -73.965617  ...  13    6.0  1.0            1.200855

 [1999 rows x 17 columns])

In [23]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7999 entries, 0 to 7998
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   452563162           7999 non-null   int64
 1   1                   7999 non-null   int64
 2   1.74                7999 non-null   float64
 3   -73.99114500000002  7999 non-null   float64
 4   40.76553700000001   7999 non-null   float64
 5   -677418915          7999 non-null   int64
 6   -1                  7999 non-null   int64
 7   -73.97599199999999  7999 non-null   float64
 8   40.786277000000005  7999 non-null   float64
 9   7.5                 7999 non-null   float64
 10  10                  7999 non-null   int64
 11  2012                7999 non-null   int64
 12  11                  7999 non-null   int64
 13  13                  7999 non-null   int64
 14  6.0                 7999 non-null   float64
 15  1.0                 7999 non-null   float64
 16  2.6339725754785412  7999 non-null   float64
dtypes: float64(9), int64(8)
memory usage: 1.0 MB

In [28]:
# getting to spark
# creating spark session
from pyspark.sql import SparkSession
from pyspark.sql.functions import count

spark = SparkSession.builder.appName("Taxi").getOrCreate()

In [29]:
train_df = spark.read.csv(train_file)

In [27]:
train_df.head()

Row(_c0='452563162', _c1='1', _c2='1.74', _c3='-73.99114500000002', _c4='40.76553700000001', _c5='-677418915', _c6='-1', _c7='-73.97599199999999', _c8='40.786277000000005', _c9='7.5', _c10='10', _c11='2012', _c12='11', _c13='13', _c14='6.0', _c15='1.0', _c16='2.6339725754785412')

In [41]:
# creating schema for the dataframe
from pyspark.sql.types import StructType, StructField, StructField, DoubleType, IntegerType
schema = StructType([
StructField("vendor_id", DoubleType()),
StructField("passenger_count", DoubleType()),
StructField("trip_distance", DoubleType()),
StructField("pickup_longitude", DoubleType()),
StructField("pickup_latitude", DoubleType()),
StructField("rate_code", DoubleType()),
StructField("store_and_fwd", DoubleType()),
StructField("dropoff_longitude", DoubleType()),
StructField("dropoff_latitude", DoubleType()),
StructField("fare_amount", DoubleType()),
StructField("hour", DoubleType()),
StructField("year", IntegerType()),
StructField("month", IntegerType()),
StructField("day", DoubleType()),
StructField("day_of_week", DoubleType()),
StructField("is_weekend", DoubleType()) ])

In [43]:
# putting schema to the dataframe
train_df = spark.read.option("infer_schema", False).option("header", True).schema(schema).csv(train_file)
train_df.head()

Row(vendor_id=452563162.0, passenger_count=5.0, trip_distance=2.72, pickup_longitude=-73.948132, pickup_latitude=40.829826999999995, rate_code=-677418915.0, store_and_fwd=-1.0, dropoff_longitude=-73.969648, dropoff_latitude=40.797472000000006, fare_amount=11.5, hour=10.0, year=2012, month=11, day=13.0, day_of_week=6.0, is_weekend=1.0)

In [45]:
train_df.show(1)

+------------+---------------+-------------+----------------+------------------+-------------+-------------+-----------------+------------------+-----------+----+----+-----+----+-----------+----------+
|   vendor_id|passenger_count|trip_distance|pickup_longitude|   pickup_latitude|    rate_code|store_and_fwd|dropoff_longitude|  dropoff_latitude|fare_amount|hour|year|month| day|day_of_week|is_weekend|
+------------+---------------+-------------+----------------+------------------+-------------+-------------+-----------------+------------------+-----------+----+----+-----+----+-----------+----------+
|4.52563162E8|            5.0|         2.72|      -73.948132|40.829826999999995|-6.77418915E8|         -1.0|       -73.969648|40.797472000000006|       11.5|10.0|2012|   11|13.0|        6.0|       1.0|
+------------+---------------+-------------+----------------+------------------+-------------+-------------+-----------------+------------------+-----------+----+----+-----+----+-----------+----------+
only showing top 1 row

In [53]:
# select join groupby
train_df.groupby("hour").count().sort("hour").show()

+----+-----+
|hour|count|
+----+-----+
| 0.0|   12|
| 1.0|   49|
| 2.0|  658|
| 3.0|  742|
| 4.0|  812|
| 5.0|   89|
| 6.0|  464|
| 7.0|  678|
| 8.0|  364|
| 9.0| 1055|
|10.0| 1303|
|11.0| 1422|
|12.0|  321|
|13.0|    3|
|14.0|    3|
|16.0|    4|
|17.0|    2|
|18.0|    5|
|19.0|    4|
|21.0|    4|
+----+-----+
only showing top 20 rows

In [58]:
# filters
train_df.select("hour", "fare_amount").filter("hour==0").show(5)

+----+-----------+
|hour|fare_amount|
+----+-----------+
| 0.0|       10.5|
| 0.0|       12.5|
| 0.0|       11.0|
| 0.0|        7.5|
| 0.0|       18.5|
+----+-----------+
only showing top 5 rows